.section {
  width: 100%;
  padding: 60px 20px;
  background-color: #ffffff;

  .sectionTitle {
    max-width: 1200px;
    margin: 0 auto 40px;
    text-align: center;

  }
}

.container {
  // max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  justify-content: center;

    @media (min-width:720px) {
    width: 60vw;
    gap: auto;
  }

  // @media(min-width:1000px) {
  //   width: 30vw;
  // }
   @media(min-width:1920px){
    width:40vw;
  }

}

.widecardContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  // @media(min-width:1000px) {
  //   width: 30vw;
  // }

  @media (min-width:720px) {
    width: 60vw;
  }
  @media(min-width:1920px){
    width:40vw;
  }

}